<h2>Book detail</h2>
<table>
  <tbody>
  <tr>
    <td>
      <%= @book.title %>
    </td>
    <td>
      <%= @book.body %>
    </td>
    <% if @book.user == current_user %>
    <td>
      <%= link_to "Destroy", book_path(@book), method: :delete %>
    <% end %>
    </td>
  </tr>
  </tbody>
</table>